# Debug profile uses mock eGauge device and InBucket mail server - remove if those services are unwanted
COMPOSE_PROFILES=debug

#######################################################################
#
# Grafana Admin User - log in with this at http://localhost:3000
#
#######################################################################
GRAFANA_USER=admin
GRAFANA_PASSWORD=secretpassword

# the eGauge user to log into the CT devices with
EGAUGE_USER=user
EGAUGE_PASSWORD=password

# Grafana Postgres user info
GRAFANA_DB_USER=grafana
GRAFANA_DB_PASSWORD=grafana

# Change these ports for the services
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
ALERT_MANAGER_PORT=9093
SMTP_PORT=2500
MAIL_UI_PORT=9000
POP3_PORT=1100

LOGLEVEL=INFO