global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: 'egauge-polling'
    static_configs:
      - targets: ['dev:8000']

rule_files:
  - rules.yml
alerting:
  alertmanagers:
   - static_configs:
     - targets:
        - dev_alert-manager:9093
